<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName">
	<!-- bean自动装配的方法 -->
	<bean id="autoWiringService"
		class="com.imooc.autowing.AutoWiringService">
		<!-- <property name="autoWiringDAO" ref="autoWiringDAO"></property> -->
	</bean>

	<bean id="autoWiringDAO" class="com.imooc.autowing.AutoWiringDAO"></bean>
</beans>